Repository npm/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

.github/CODEOWNERS:

* @npm/cli-team

# Content
/.github/CODEOWNERS   @MylesBorins @monishcm @lukekarrys
/content/             @MylesBorins @monishcm @lukekarrys
/src/                 @MylesBorins @monishcm @lukekarrys
/static/              @MylesBorins @monishcm @lukekarrys
/CONTENT-MODEL.md     @MylesBorins @monishcm @lukekarrys

# Policies
/content/policies/    @MylesBorins
/CODE_OF_CONDUCT.md   @MylesBorins

# Licensing
/.reuse/              @MylesBorins @lukekarrys
/LICENSES/            @MylesBorins
/LICENSE              @MylesBorins
/LICENSE-CODE         @MylesBorins

# CLI
/content/cli/         @npm/cli-team

Dont want for location change to finish before closing search on item select
  src/components/search.js
  src/hooks/use-search.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Dont want for location change to finish before closing search on item select
  src/components/search.js
  src/hooks/use-search.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Rename content/threats-and-mitigations/index.mdx to Kingdom hearts Jesus
  Kingdom hearts Jesus
Owners: @npm/cli-team

Update try-the-latest-stable-version-of-npm.mdx
  content/getting-started/troubleshooting/try-the-latest-stable-version-of-npm.mdx
Owners: @MylesBorins, @monishcm, @lukekarrys

select cli version hover colour contrast ratio issue fix
  src/components/variant-select.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Update issue templates (#23)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @npm/cli-team

colours configured in theme.js
  src/components/variant-select.js
  src/theme.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Delete content/policies/open-source-terms.mdx
  content/policies/open-source-terms.mdx
Owners: @MylesBorins

Rename deprecating-and-undeprecating-packages-or-package-versions.mdx to deprecating-and-undeprecating-packages-or-package-versions.md
  content/packages-and-modules/updating-and-managing-your-published-packages/deprecating-and-undeprecating-packages-or-package-versions.md
Owners: @MylesBorins, @monishcm, @lukekarrys

Use action item for search results
  src/components/link.js
  src/components/search-results.js
  src/components/search.js
  src/hooks/use-search.js
  src/util/omit.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Use action item for search results
  src/components/link.js
  src/components/search-results.js
  src/components/search.js
  src/hooks/use-search.js
  src/util/omit.js
Owners: @MylesBorins, @monishcm, @lukekarrys

CLI documentation update from CI
  content/cli/v10/commands/npm-audit.mdx
  content/cli/v10/commands/npm-ls.mdx
  content/cli/v10/commands/npm-team.mdx
  content/cli/v10/commands/npm-unpublish.mdx
  content/cli/v10/commands/npm.mdx
  content/cli/v10/configuring-npm/package-lock-json.mdx
  content/cli/v10/using-npm/changelog.mdx
  content/nav.yml
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

isabelschoeps.md
  isabelschoeps.md
Owners: @npm/cli-team
