Repository npm/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

chore: postinstall for dependabot template-oss PR
  cli/package.json
  package.json
Owners: @npm/cli-team

fix: upgrade gatsby-source-filesystem from 5.13.1 to 5.14.0
  package-lock.json
  package.json
Owners: @npm/cli-team

CLI documentation update from CI
  content/cli/v10/using-npm/changelog.mdx
Owners: @npm/cli-team

chore: fix package
  package.json
Owners: @npm/cli-team

chore: fix pkg
  package.json
Owners: @npm/cli-team

chore: change cache.json to cli-cache.json
  .gitignore
  cli-cache.json
  cli/bin/build.js
  cli/package.json
  package.json
Owners: @npm/cli-team

chore: ignore cli-cache pretter
  .prettierignore
  cli-cache.json
Owners: @npm/cli-team

fix: v10 in dropdown
  content/nav.yml
Owners: @leobalter, @monishcm, @wraithgar

fix: v10 in dropdown (#1414)
  content/nav.yml
Owners: @leobalter, @monishcm, @wraithgar

chore: remove v11 changes from v10 changelog
  content/cli/v10/using-npm/changelog.mdx
Owners: @npm/cli-team

fix: sort cache keys, remove default 10
  cli-cache.json
  cli/lib/cache.js
  content/nav.yml
Owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

fix: drop cache for new majors
  cli/lib/build.js
  cli/lib/cache.js
Owners: @npm/cli-team

chore: fix ?
  cli/lib/build.js
Owners: @npm/cli-team

fix: drop cache for new majors (#1419)
  cli/lib/build.js
  cli/lib/cache.js
Owners: @npm/cli-team

deps: bump express to 4.21.2
  package-lock.json
Owners: @npm/cli-team

deps: update all deps via `npm update`
  package-lock.json
Owners: @npm/cli-team

Deps updates (#1420)
  package-lock.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

Update index.mdx
  content/organizations/index.mdx
Owners: @leobalter, @monishcm, @wraithgar

remove Depreciated comment for maintainers
  content/cli/v10/configuring-npm/package-json.mdx
Owners: @npm/cli-team

fix: upgrade gatsby-transformer-yaml from 5.13.1 to 5.14.0
  package-lock.json
  package.json
Owners: @npm/cli-team

Revert "fix: appropriate heading (#1173)"
  content/packages-and-modules/introduction-to-packages-and-modules/package-scope-access-level-and-visibility.mdx
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
  content/nav.yml
Owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

Update disputes.mdx to clarify squatting dispute process
  content/policies/disputes.mdx
Owners: @leobalter

fix: path-to-regexp dedupe
  package-lock.json
  package.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

Update creating-a-strong-password.mdx
  content/getting-started/setting-up-your-npm-user-account/creating-a-strong-password.mdx
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

Update searching-for-and-choosing-packages-to-download.mdx
  content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
Owners: @leobalter, @monishcm, @wraithgar

Create viewing-package-provenance.mdx
  content/packages-and-modules/getting-packages-from-the-registry/viewing-package-provenance.mdx
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
  content/cli/v11/commands/npm-deprecate.mdx
  content/cli/v11/commands/npm-ls.mdx
  content/cli/v11/commands/npm-undeprecate.mdx
  content/cli/v11/commands/npm.mdx
  content/cli/v11/configuring-npm/package-json.mdx
  content/cli/v11/using-npm/changelog.mdx
  content/cli/v11/using-npm/config.mdx
  content/nav.yml
Owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

chore: postinstall for dependabot template-oss PR
  cli/package.json
  package.json
Owners: @npm/cli-team

Update about-npm-versions.mdx
  content/getting-started/configuring-your-local-environment/about-npm-versions.mdx
Owners: @leobalter, @monishcm, @wraithgar

chore: postinstall for dependabot template-oss PR
  cli/package.json
  package.json
Owners: @npm/cli-team

fix: upgrade gatsby-plugin-mdx from 5.13.1 to 5.14.0
  package-lock.json
  package.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

.github/CODEOWNERS:

* @npm/cli-team

# Content
/.github/CODEOWNERS   @leobalter @monishcm @wraithgar
/content/             @leobalter @monishcm @wraithgar
/src/                 @leobalter @monishcm @wraithgar
/static/              @leobalter @monishcm @wraithgar
/CONTENT-MODEL.md     @leobalter @monishcm @wraithgar

# Policies
/content/policies/    @leobalter
/CODE_OF_CONDUCT.md   @leobalter

# Licensing
/.reuse/              @leobalter @wraithgar
/LICENSES/            @leobalter
/LICENSE              @leobalter
/LICENSE-CODE         @leobalter

# CLI
/content/cli/         @npm/cli-team
