Repository npm/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

.github/CODEOWNERS:

* @npm/cli-team

# Content
/.github/CODEOWNERS   @leobalter @monishcm @wraithgar
/content/             @leobalter @monishcm @wraithgar
/src/                 @leobalter @monishcm @wraithgar
/static/              @leobalter @monishcm @wraithgar
/CONTENT-MODEL.md     @leobalter @monishcm @wraithgar

# Policies
/content/policies/    @leobalter
/CODE_OF_CONDUCT.md   @leobalter

# Licensing
/.reuse/              @leobalter @wraithgar
/LICENSES/            @leobalter
/LICENSE              @leobalter
/LICENSE-CODE         @leobalter

# CLI
/content/cli/         @npm/cli-team

swap team member for package manintainer
  content/organizations/managing-teams/managing-team-access-to-organization-packages.mdx
Owners: @leobalter, @monishcm, @wraithgar

removing all references to skimdb.npmjs.com
  content/cli/v10/using-npm/registry.mdx
  content/cli/v11/using-npm/registry.mdx
  content/cli/v6/using-npm/registry.mdx
  content/cli/v7/using-npm/registry.mdx
  content/cli/v8/using-npm/registry.mdx
  content/cli/v9/using-npm/registry.mdx
Owners: @npm/cli-team

removing references to skimdb.npmjs.com (#1514)
  content/cli/v10/using-npm/registry.mdx
  content/cli/v11/using-npm/registry.mdx
  content/cli/v6/using-npm/registry.mdx
  content/cli/v7/using-npm/registry.mdx
  content/cli/v8/using-npm/registry.mdx
  content/cli/v9/using-npm/registry.mdx
Owners: @npm/cli-team

Rename downloading-and-installiOS Aplet downloading-and-installing-node-js-and-npm.mdx
  content/getting-started/configuring-your-local-environment/OS Aplet downloading-and-installing-node-js-and-npm.mdx
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
  content/cli/v11/using-npm/registry.mdx
Owners: @npm/cli-team

Create generator-generic-ossf-slsa3-publish.yml
  .github/workflows/generator-generic-ossf-slsa3-publish.yml
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

more fixes
  content/organizations/managing-teams/managing-team-access-to-organization-packages.mdx
Owners: @leobalter, @monishcm, @wraithgar

Swap "team admin" for "package maintainer" (#1512)
  content/organizations/managing-teams/managing-team-access-to-organization-packages.mdx
Owners: @leobalter, @monishcm, @wraithgar

Update downloading-and-installing-node-js-and-npm.mdx
  content/getting-started/configuring-your-local-environment/downloading-and-installing-node-js-and-npm.mdx
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

feat(install): add instructions for git packages
  content/packages-and-modules/getting-packages-from-the-registry/downloading-and-installing-packages-locally.mdx
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

fix: update export entry point for eslint
  .eslintrc.js
Owners: @npm/cli-team

chore: postinstall for dependabot template-oss PR
  .gitignore
  cli/.gitignore
  cli/package.json
  package.json
Owners: @npm/cli-team

chore: update lint to use esm-only module
  .eslint.config.js
  .eslintrc.js
Owners: @npm/cli-team

fix: improve `devEngines` note
  content/cli/v10/configuring-npm/package-json.mdx
  content/cli/v11/configuring-npm/package-json.mdx
Owners: @npm/cli-team

fix: revise note
  content/cli/v10/configuring-npm/package-json.mdx
  content/cli/v11/configuring-npm/package-json.mdx
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

apply suggestion from ljharb
  content/cli/v10/configuring-npm/package-json.mdx
  content/cli/v11/configuring-npm/package-json.mdx
Owners: @npm/cli-team

docs: improve `devEngines` note (#1535)
  content/cli/v10/configuring-npm/package-json.mdx
  content/cli/v11/configuring-npm/package-json.mdx
Owners: @npm/cli-team

Update about-package-readme-files.mdx
  content/packages-and-modules/contributing-packages-to-the-registry/about-package-readme-files.mdx
Owners: @leobalter, @monishcm, @wraithgar

feat: change "OS X" to be "macOS"
  content/cli/v10/commands/npm-bugs.mdx
  content/cli/v10/commands/npm-docs.mdx
  content/cli/v10/commands/npm-fund.mdx
  content/cli/v10/commands/npm-repo.mdx
  content/cli/v10/configuring-npm/install.mdx
  content/cli/v10/using-npm/config.mdx
  content/cli/v11/commands/npm-bugs.mdx
  content/cli/v11/commands/npm-docs.mdx
  content/cli/v11/commands/npm-fund.mdx
  content/cli/v11/commands/npm-repo.mdx
  content/cli/v11/configuring-npm/install.mdx
  content/cli/v11/using-npm/config.mdx
  content/cli/v6/commands/npm-bugs.mdx
  content/cli/v6/commands/npm-docs.mdx
  content/cli/v6/commands/npm-fund.mdx
  content/cli/v6/commands/npm-repo.mdx
  content/cli/v6/configuring-npm/install.mdx
  content/cli/v6/using-npm/config.mdx
  content/cli/v7/commands/npm-bugs.mdx
  content/cli/v7/commands/npm-docs.mdx
  content/cli/v7/commands/npm-fund.mdx
  content/cli/v7/commands/npm-repo.mdx
  content/cli/v7/configuring-npm/install.mdx
  content/cli/v7/using-npm/config.mdx
  content/cli/v8/commands/npm-bugs.mdx
  content/cli/v8/commands/npm-docs.mdx
  content/cli/v8/commands/npm-fund.mdx
  content/cli/v8/commands/npm-repo.mdx
  content/cli/v8/configuring-npm/install.mdx
  content/cli/v8/using-npm/config.mdx
  content/cli/v9/commands/npm-bugs.mdx
  content/cli/v9/commands/npm-docs.mdx
  content/cli/v9/commands/npm-fund.mdx
  content/cli/v9/commands/npm-repo.mdx
  content/cli/v9/configuring-npm/install.mdx
  content/cli/v9/using-npm/config.mdx
  content/getting-started/configuring-your-local-environment/downloading-and-installing-node-js-and-npm.mdx
  content/getting-started/troubleshooting/try-the-latest-stable-version-of-npm.mdx
Owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

chore: make link use a basic anchor tag instead of Gatsby
  src/components/link.js
Owners: @leobalter, @monishcm, @wraithgar

fix: user friendly styling for word-break and footer wrapping
  src/components/page-footer.js
  src/mdx/components.js
Owners: @leobalter, @monishcm, @wraithgar

fix: enforce responsive web design via CSS word-break and flex-wrap properties (#1544)
  src/components/page-footer.js
  src/mdx/components.js
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
  content/cli/v11/configuring-npm/package-json.mdx
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
  content/cli/v11/commands/npm-ls.mdx
  content/cli/v11/commands/npm.mdx
  content/cli/v11/configuring-npm/package-json.mdx
  content/cli/v11/using-npm/changelog.mdx
  content/cli/v11/using-npm/config.mdx
  content/cli/v11/using-npm/logging.mdx
  content/nav.yml
Owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

docs(provenance): update note to mention yarn v4.9.0 supporting provenance
  content/packages-and-modules/securing-your-code/generating-provenance-statements.mdx
Owners: @leobalter, @monishcm, @wraithgar

docs: update note to mention yarn v4.9.0 supporting provenance (#1546)
  content/packages-and-modules/securing-your-code/generating-provenance-statements.mdx
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

docs: clarify token creation in npm login command
  content/cli/v11/commands/npm-login.mdx
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team
