Repository npm/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Dont fail if page has no frontmatter
  cli/package.json
  src/components/search-results.js
  src/layout.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Turn off sourcemaps in production
  gatsby-node.js
Owners: @npm/cli-team

Update fuse to latest version
  package-lock.json
  package.json
  src/components/breadcrumbs.js
  src/components/nav-items.js
  src/components/search-results.js
  src/components/variant-select.js
  src/hooks/use-search.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/util/get-nav.js
  src/util/search.worker.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Fix max height on desktop table of contents
  src/components/table-of-contents.js
  src/mdx/index.js
  src/page.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Use link component instead of catch links plugin
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/contributors.js
  src/components/header.js
  src/components/link.js
  src/components/nav-drawer.js
  src/components/nav-items.js
  src/components/page-footer.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/page.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Underline mdx links
  src/mdx/index.js
Owners: @MylesBorins, @monishcm, @lukekarrys

chore: bump @testing-library/react@12
  package-lock.json
  package.json
Owners: @npm/cli-team

Move avatar tooltip to link
  src/components/contributors.js
Owners: @MylesBorins, @monishcm, @lukekarrys

fix: dedupe shared page components into wrap-page-element
  content/index.mdx
  gatsby-config.js
  src/components/clipboard-copy.js
  src/components/container.js
  src/components/contributors.js
  src/components/drawer.js
  src/components/head.js
  src/components/header.js
  src/components/hero.js
  src/components/nav-drawer.js
  src/components/nav-items.js
  src/components/page-footer.js
  src/components/sidebar.js
  src/components/table-of-contents.js
  src/components/variant-select.js
  src/constants.js
  src/favicon.png
  src/hooks/use-search.js
  src/hooks/use-slugger.js
  src/layout.js
  src/layout/default.js
  src/layout/hero.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/pages/404.js
  src/util/nav-hierarchy.js
Owners: @MylesBorins, @monishcm, @lukekarrys, @npm/cli-team

Refactor to use new primer navlist
  CONTRIBUTING.md
  gatsby-config.js
  src/components/breadcrumbs.js
  src/components/nav-items.js
  src/components/search-results.js
  src/components/sidebar.js
  src/components/table-of-contents.js
  src/components/variant-select.js
  src/components/visually-hidden.js
  src/constants.js
  src/layout.js
  src/layout/default.js
  src/layout/hero.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/util/get-nav.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Color swaps
  src/components/breadcrumbs.js
  src/components/header.js
  src/components/hero.js
  src/components/search-results.js
  src/components/text-input.js
  src/mdx/index.js
  src/root.js
  src/util/get-nav.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Use full header height instead of header height
  src/components/header.js
  src/components/mobile-search.js
  src/components/sidebar.js
  src/components/table-of-contents.js
  src/constants.js
  src/mdx/index.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix header and mobile search borders
  src/components/header.js
  src/components/mobile-search.js
  src/components/nav-items.js
  src/components/search.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Nav list dividers
  src/components/nav-items.js
  src/components/sidebar.js
  src/mdx/nav-hierarchy.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Make search result items links
  src/components/link.js
  src/components/search-results.js
  src/components/table-of-contents.js
  src/components/variant-select.js
  src/constants.js
  src/hooks/use-search.js
  src/mdx/index.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Consolidate some related components to single files
  src/components/__tests__/contributors.test.js
  src/components/contributors.js
  src/components/header.js
  src/components/mobile-search.js
  src/components/page-footer.js
  src/components/search-results.js
  src/components/search.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix some gatsby SSR mismatch issues
  gatsby-config.js
  src/hooks/use-search.js
  src/page.js
  src/root.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Less janky mobile search animations
  src/components/mobile-search.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Update to gatsby@5 and mdx@2
  cli/lib/transform.js
  content/404.mdx
  content/getting-started/troubleshooting/common-errors.mdx
  content/getting-started/troubleshooting/try-the-latest-stable-version-of-node.mdx
  content/index.mdx
  content/policies/conduct.mdx
  content/policies/disputes.mdx
  content/policies/open-source-terms.mdx
  content/policies/orgs-plan.mdx
  content/policies/private-terms.mdx
  content/policies/security.mdx
  content/policies/solo-plan.mdx
  content/policies/terms.mdx
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/breadcrumbs.js
  src/components/nav-items.js
  src/components/table-of-contents.js
  src/components/variant-select.js
  src/hooks/use-page.js
  src/hooks/use-search.js
  src/layout.js
  src/layout/default.js
  src/layout/hero.js
  src/mdx/code.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/page.js
  src/root.js
  src/util/search.worker.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Move props out of downshift functions
  src/components/mobile-search.js
  src/components/search-results.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Only panic during build in CI
  gatsby-node.js
Owners: @npm/cli-team

Convert invalid html content to jsx
  content/packages-and-modules/contributing-packages-to-the-registry/about-semantic-versioning.mdx
  content/packages-and-modules/introduction-to-packages-and-modules/about-private-packages.mdx
  content/packages-and-modules/introduction-to-packages-and-modules/about-scopes.mdx
  content/packages-and-modules/introduction-to-packages-and-modules/package-scope-access-level-and-visibility.mdx
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix nav link sizing
  src/components/nav-items.js
Owners: @MylesBorins, @monishcm, @lukekarrys

fix: refactor nav-hierarchy component
  src/components/nav-items.js
  src/components/search-results.js
  src/components/variant-select.js
  src/layout.js
  src/mdx/nav-hierarchy.js
  src/util/get-nav.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix jest tests for CSS.supports
  jest-setup.js
Owners: @npm/cli-team

deps: framer-motion@10
  package-lock.json
  package.json
  src/page.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

chore: fix linting
  .eslintrc.js
  .eslintrc.local.js
  package-lock.json
  package.json
  scripts/template-oss/index.js
  src/pages/404.js
  theme/.eslintrc.js
  theme/src/components/border-box.js
  theme/src/components/code.js
  theme/src/components/contributors.js
  theme/src/components/flex.js
  theme/src/components/variant-select.js
  theme/src/hooks/use-breakpoint.js
  theme/src/hooks/use-search.js
  theme/src/util/nav-hierarchy.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Update H1 styles
  src/components/hero.js
  src/layout/default.js
  src/layout/hero.js
  src/mdx/index.js
Owners: @MylesBorins, @monishcm, @lukekarrys

fix: finish converting all primer/react to sx
  .eslintrc.js
  src/components/clipboard-copy.js
  src/components/container.js
  src/components/contributors.js
  src/components/dark-button.js
  src/components/drawer.js
  src/components/head.js
  src/components/header.js
  src/components/mobile-search.js
  src/components/nav-drawer.js
  src/components/nav-items.js
  src/components/npm-logo.js
  src/components/page-footer.js
  src/components/search-results.js
  src/components/search.js
  src/components/sidebar.js
  src/components/table-of-contents.js
  src/constants.js
  src/layout.js
  src/layout/default.js
  src/layout/hero.js
  src/mdx/code.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/util/get-nav.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Refactor theme providers to a single file
  src/components/header.js
  src/components/mobile-search.js
  src/components/nav-drawer.js
  src/components/search.js
  src/constants.js
  src/layout.js
  src/root.js
  src/theme.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Use CSS only method to scroll pre
  src/hooks/use-scroll-size.js
  src/mdx/code.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Lint and format all code with same configs
  .eslintrc.js
  .prettierignore
  cli/.eslintrc.js
  cli/bin/build.js
  cli/lib/build.js
  cli/lib/extract.js
  cli/lib/gh.js
  cli/lib/log.js
  cli/lib/redirects.js
  cli/lib/transform.js
  cli/package.json
  cli/scripts/template-oss/index.js
  cli/test/index.js
  cli/test/transform.js
  gatsby-node.js
  package-lock.json
  package.json
  scripts/template-oss/index.js
  src/mdx/code.js
  src/mdx/index.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Fix reuse for new root files
  .prettierignore
  .reuse/dep5
Owners: @npm/cli-team, @MylesBorins, @lukekarrys

Use built in gatsby head in favor of react-helmet
  content/index.mdx
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/nav-items.js
  src/head.js
  src/hooks/use-site-metadata.js
  src/layout.js
  src/page.js
Owners: @MylesBorins, @monishcm, @lukekarrys, @npm/cli-team

chore: prettier
  .eslintrc.js
  .prettierIgnore
  CODE_OF_CONDUCT.md
  CONTENT-MODEL.md
  CONTRIBUTING.md
  README.md
  gatsby-node.js
  package-lock.json
  package.json
  scripts/template-oss/index.js
  src/pages/404.js
  src/shared.js
  theme/.gitignore
  theme/package.json
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Use theme values for spacing
  src/components/header.js
  src/mdx/index.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Make theme wrapper components use as property for less nesting
  src/components/header.js
  src/components/nav-drawer.js
  src/components/search.js
  src/layout.js
  src/theme.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix autolinked CLI headings that already contain a link
  src/mdx/index.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix links to external nav items
  src/components/nav-items.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix script for cli workspace tests
  cli/package.json
  cli/test/index.js
  package.json
  scripts/template-oss/index.js
  scripts/template-oss/pkg.json
Owners: @npm/cli-team

.github/CODEOWNERS:

* @npm/cli-team

# Content
/.github/CODEOWNERS   @MylesBorins @monishcm @lukekarrys
/content/             @MylesBorins @monishcm @lukekarrys
/src/                 @MylesBorins @monishcm @lukekarrys
/static/              @MylesBorins @monishcm @lukekarrys
/CONTENT-MODEL.md     @MylesBorins @monishcm @lukekarrys

# Policies
/content/policies/    @MylesBorins
/CODE_OF_CONDUCT.md   @MylesBorins

# Licensing
/.reuse/              @MylesBorins @lukekarrys
/LICENSES/            @MylesBorins
/LICENSE              @MylesBorins
/LICENSE-CODE         @MylesBorins

# CLI
/content/cli/         @npm/cli-team
