Repository npm/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

.github/CODEOWNERS:

* @npm/cli-team

# Content
/.github/CODEOWNERS   @MylesBorins @monishcm @lukekarrys
/content/             @MylesBorins @monishcm @lukekarrys
/src/                 @MylesBorins @monishcm @lukekarrys
/static/              @MylesBorins @monishcm @lukekarrys
/CONTENT-MODEL.md     @MylesBorins @monishcm @lukekarrys

# Policies
/content/policies/    @MylesBorins
/CODE_OF_CONDUCT.md   @MylesBorins

# Licensing
/.reuse/              @MylesBorins @lukekarrys
/LICENSES/            @MylesBorins
/LICENSE              @MylesBorins
/LICENSE-CODE         @MylesBorins

# CLI
/content/cli/         @npm/cli-team

added aria-described by for the button and added aria-labelledby for the item
  theme/src/components/variant-select.js
Owners: @npm/cli-team

aria-describedby is using instead labelledby
  theme/src/components/variant-select.js
Owners: @npm/cli-team

applied style color contrast issue
  src/shared.js
  theme/src/layout/index.js
  theme/src/layout/style.css
Owners: @MylesBorins, @monishcm, @lukekarrys, @npm/cli-team

aria-describedby is using instead labelledby (#780)
  theme/src/components/variant-select.js
Owners: @npm/cli-team

minor fix
  theme/src/layout/style.css
Owners: @npm/cli-team

Bugfix for Issue#5934
  theme/src/wrap/root-element.js
Owners: @npm/cli-team

Make anchor elements also to use UnderlinedLink wrapper
  theme/src/wrap/root-element.js
Owners: @npm/cli-team

Chore : Fix typo in multiple files
  cli/lib/redirects.js
  cli/test/index.js
  content/cli/v10/commands/npm-sbom.md
  content/cli/v10/using-npm/config.md
  content/cli/v6/using-npm/changelog.md
  content/cli/v6/using-npm/scripts.md
  content/cli/v7/using-npm/changelog.md
  content/cli/v8/using-npm/dependency-selectors.md
  content/cli/v8/using-npm/scope.md
  theme/src/util/search.worker.js
Owners: @npm/cli-team

fixed for underline links
  theme/src/layout/index.js
  theme/src/layout/style.css
  theme/src/wrap/root-element.js
  theme/src/wrap/style.css
Owners: @npm/cli-team

Bugfix for Issue#5934 (#778)
  theme/src/wrap/root-element.js
Owners: @npm/cli-team

chore: fix linting
  .eslintrc.js
  .eslintrc.local.js
  package-lock.json
  package.json
  scripts/template-oss/index.js
  src/pages/404.js
  theme/.eslintrc.js
  theme/src/components/border-box.js
  theme/src/components/code.js
  theme/src/components/contributors.js
  theme/src/components/flex.js
  theme/src/components/variant-select.js
  theme/src/hooks/use-breakpoint.js
  theme/src/hooks/use-search.js
  theme/src/util/nav-hierarchy.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

fix: run system props codemod
  theme/src/components/contributors.js
  theme/src/components/header.js
  theme/src/components/nav-drawer.js
  theme/src/components/nav-items.js
  theme/src/components/table-of-contents.js
  theme/src/hooks/use-search.js
  theme/src/mdx/heading.js
  theme/src/mdx/prompt.js
  theme/src/mdx/screenshot.js
  theme/src/page-element.js
Owners: @npm/cli-team

chore: lint from root for frontend deps
  .gitignore
  .prettierIgnore
  cli/package.json
  package.json
  scripts/template-oss/index.js
  scripts/template-oss/pkg.json
  theme/.eslintrc.js
  theme/.gitignore
  theme/.prettierIgnore
  theme/package.json
  theme/scripts/template-oss/_step-deps.yml
  theme/scripts/template-oss/index.js
  theme/src/components/hero.js
  theme/src/root-element.js
Owners: @npm/cli-team

chore: prettier
  .eslintrc.js
  .prettierIgnore
  CODE_OF_CONDUCT.md
  CONTENT-MODEL.md
  CONTRIBUTING.md
  README.md
  gatsby-node.js
  package-lock.json
  package.json
  scripts/template-oss/index.js
  src/pages/404.js
  src/shared.js
  theme/.gitignore
  theme/package.json
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

chore: move all eslint rules to root
  .eslintrc.js
  .gitignore
  .prettierrc.js
  gatsby-node.js
  package-lock.json
  package.json
  scripts/template-oss/index.js
  src/shared.js
  test/index.js
  theme/.gitignore
  theme/gatsby-config.js
  theme/scripts/template-oss/index.js
  theme/src/components/hero.js
  theme/src/util/aria-live.js
  theme/src/util/nav-hierarchy.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

fix: replace borderbox with box
  .eslintrc.js
  theme/src/components/border-box.js
  theme/src/components/nav-drawer.js
  theme/src/components/nav-items.js
  theme/src/components/page-footer.js
  theme/src/components/search.js
  theme/src/components/sidebar.js
  theme/src/hooks/use-search.js
  theme/src/layout/default.js
Owners: @npm/cli-team

fix: dedupe shared page components into wrap-page-element
  content/index.mdx
  gatsby-config.js
  src/components/clipboard-copy.js
  src/components/container.js
  src/components/contributors.js
  src/components/drawer.js
  src/components/head.js
  src/components/header.js
  src/components/hero.js
  src/components/nav-drawer.js
  src/components/nav-items.js
  src/components/page-footer.js
  src/components/sidebar.js
  src/components/table-of-contents.js
  src/components/variant-select.js
  src/constants.js
  src/favicon.png
  src/hooks/use-search.js
  src/hooks/use-slugger.js
  src/layout.js
  src/layout/default.js
  src/layout/hero.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/pages/404.js
  src/util/nav-hierarchy.js
Owners: @MylesBorins, @monishcm, @lukekarrys, @npm/cli-team

fix: finish converting all primer/react to sx
  .eslintrc.js
  src/components/clipboard-copy.js
  src/components/container.js
  src/components/contributors.js
  src/components/dark-button.js
  src/components/drawer.js
  src/components/head.js
  src/components/header.js
  src/components/mobile-search.js
  src/components/nav-drawer.js
  src/components/nav-items.js
  src/components/npm-logo.js
  src/components/page-footer.js
  src/components/search-results.js
  src/components/search.js
  src/components/sidebar.js
  src/components/table-of-contents.js
  src/constants.js
  src/layout.js
  src/layout/default.js
  src/layout/hero.js
  src/mdx/code.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/util/get-nav.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

fix: refactor nav-hierarchy component
  src/components/nav-items.js
  src/components/search-results.js
  src/components/variant-select.js
  src/layout.js
  src/mdx/nav-hierarchy.js
  src/util/get-nav.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix jest tests for CSS.supports
  jest-setup.js
Owners: @npm/cli-team

Convert primer colors to use new color names
  gatsby-browser.js
  gatsby-config.js
  gatsby-ssr.js
  src/components/clipboard-copy.js
  src/components/contributors.js
  src/components/dark-text-input.js
  src/components/drawer.js
  src/components/header.js
  src/components/hero.js
  src/components/mobile-search.js
  src/components/nav-drawer.js
  src/components/page-footer.js
  src/components/search-results.js
  src/components/search.js
  src/components/sidebar.js
  src/components/table-of-contents.js
  src/components/text-input.js
  src/mdx/code.js
  src/mdx/index.js
  src/page.js
  src/root.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Color swaps
  src/components/breadcrumbs.js
  src/components/header.js
  src/components/hero.js
  src/components/search-results.js
  src/components/text-input.js
  src/mdx/index.js
  src/root.js
  src/util/get-nav.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Hide variants from page breadcrumbs
  src/components/breadcrumbs.js
  src/components/search-results.js
  src/util/get-nav.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix script for cli workspace tests
  cli/package.json
  cli/test/index.js
  package.json
  scripts/template-oss/index.js
  scripts/template-oss/pkg.json
Owners: @npm/cli-team

Style updates for new primer components
  content/organizations/index.mdx
  src/components/breadcrumbs.js
  src/components/header.js
  src/components/search-results.js
  src/components/sidebar.js
  src/components/table-of-contents.js
  src/constants.js
  src/layout.js
  src/layout/default.js
  src/mdx/code.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Update H1 styles
  src/components/hero.js
  src/layout/default.js
  src/layout/hero.js
  src/mdx/index.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix reuse for new root files
  .prettierignore
  .reuse/dep5
Owners: @npm/cli-team, @MylesBorins, @lukekarrys

chore: bump @testing-library/react@12
  package-lock.json
  package.json
Owners: @npm/cli-team

Fix header and mobile search borders
  src/components/header.js
  src/components/mobile-search.js
  src/components/nav-items.js
  src/components/search.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix variants prop name
  src/components/variant-select.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix max height on desktop table of contents
  src/components/table-of-contents.js
  src/mdx/index.js
  src/page.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix links to external nav items
  src/components/nav-items.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix cli bin/build test
  cli/bin/build.js
Owners: @npm/cli-team

Add top nav links to nav drawer
  content/nav.yml
  src/components/header.js
  src/components/mobile-search.js
  src/components/nav-drawer.js
  src/components/nav-items.js
  src/components/sidebar.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Dont fail if page has no frontmatter
  cli/package.json
  src/components/search-results.js
  src/layout.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Refactor to use new primer navlist
  CONTRIBUTING.md
  gatsby-config.js
  src/components/breadcrumbs.js
  src/components/nav-items.js
  src/components/search-results.js
  src/components/sidebar.js
  src/components/table-of-contents.js
  src/components/variant-select.js
  src/components/visually-hidden.js
  src/constants.js
  src/layout.js
  src/layout/default.js
  src/layout/hero.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/util/get-nav.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

More styles refactoring
  package-lock.json
  package.json
  src/components/breadcrumbs.js
  src/components/drawer.js
  src/components/hero.js
  src/components/mobile-search.js
  src/components/nav-drawer.js
  src/components/search.js
  src/components/sidebar.js
  src/components/variant-select.js
  src/layout.js
  src/mdx/code.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/page.js
  src/root.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Move props out of downshift functions
  src/components/mobile-search.js
  src/components/search-results.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Move nav files to content dir
  .prettierignore
  CONTRIBUTING.md
  content/header-nav.yml
  content/nav.yml
  src/components/header.js
  src/components/nav-drawer.js
  src/components/variant-select.js
  src/shared.js
  src/util/get-nav.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Use full header height instead of header height
  src/components/header.js
  src/components/mobile-search.js
  src/components/sidebar.js
  src/components/table-of-contents.js
  src/constants.js
  src/mdx/index.js
Owners: @MylesBorins, @monishcm, @lukekarrys
