Repository npm/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
  content/cli/v10/configuring-npm/package-json.mdx
  content/cli/v10/using-npm/registry.mdx
Owners: @npm/cli-team

fix: fixes docs cache to be based on npm version
  cli-cache.json
  cli/lib/build.js
  cli/lib/extract.js
  cli/lib/gh.js
  cli/test/index.js
  content/cli/v8/using-npm/registry.mdx
  content/cli/v9/using-npm/registry.mdx
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

fix: Make "edit this page" link to correct page
  gatsby-node.mjs
Owners: @npm/cli-team

Update configuring-two-factor-authentication.mdx
  content/getting-started/setting-up-your-npm-user-account/configuring-two-factor-authentication.mdx
Owners: @leobalter, @monishcm, @wraithgar

fix: upgrade framer-motion from 11.11.4 to 11.18.2
  package-lock.json
  package.json
Owners: @npm/cli-team

fix: upgrade @primer/octicons-react from 19.11.0 to 19.15.1
  package-lock.json
  package.json
Owners: @npm/cli-team

fix: upgrade @octokit/plugin-retry from 7.1.2 to 7.2.1
  package-lock.json
  package.json
Owners: @npm/cli-team

fix: upgrade gatsby from 5.14.0 to 5.14.3
  package-lock.json
  package.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
  content/nav.yml
Owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

Revert "deps: bump the dependency-updates group across 1 directory with 4 upd…"
  package-lock.json
Owners: @npm/cli-team

Revert "deps: bump the dependency-updates group across 1 directory with 4 updates" (#1577)
  package-lock.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

fix: v11 npm run page not found
  content/cli/v11/commands/npm-run-script.mdx
  content/nav.yml
Owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

fix: update component styles for changes in @primer/react package
  src/components/text-input.js
  src/components/variant-select.js
Owners: @leobalter, @monishcm, @wraithgar

fix: update component styles for changes in @primer/react package
  src/components/text-input.js
  src/components/variant-select.js
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
  content/cli/v11/commands/npm-adduser.mdx
  content/cli/v11/commands/npm-audit.mdx
  content/cli/v11/commands/npm-ci.mdx
  content/cli/v11/commands/npm-dedupe.mdx
  content/cli/v11/commands/npm-exec.mdx
  content/cli/v11/commands/npm-find-dupes.mdx
  content/cli/v11/commands/npm-init.mdx
  content/cli/v11/commands/npm-install-ci-test.mdx
  content/cli/v11/commands/npm-install-test.mdx
  content/cli/v11/commands/npm-install.mdx
  content/cli/v11/commands/npm-link.mdx
  content/cli/v11/commands/npm-login.mdx
  content/cli/v11/commands/npm-ls.mdx
  content/cli/v11/commands/npm-outdated.mdx
  content/cli/v11/commands/npm-pack.mdx
  content/cli/v11/commands/npm-prune.mdx
  content/cli/v11/commands/npm-rebuild.mdx
  content/cli/v11/commands/npm-restart.mdx
  content/cli/v11/commands/npm-run.mdx
  content/cli/v11/commands/npm-shrinkwrap.mdx
  content/cli/v11/commands/npm-start.mdx
  content/cli/v11/commands/npm-stop.mdx
  content/cli/v11/commands/npm-test.mdx
  content/cli/v11/commands/npm-update.mdx
  content/cli/v11/commands/npm-version.mdx
  content/cli/v11/commands/npm.mdx
  content/cli/v11/commands/npx.mdx
  content/cli/v11/configuring-npm/package-json.mdx
  content/cli/v11/using-npm/changelog.mdx
  content/cli/v11/using-npm/config.mdx
  content/cli/v11/using-npm/developers.mdx
  content/cli/v11/using-npm/scripts.mdx
  content/cli/v11/using-npm/workspaces.mdx
  content/nav.yml
Owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
  content/cli/v11/using-npm/changelog.mdx
Owners: @npm/cli-team

Update about-access-tokens.mdx
  content/integrations/integrating-npm-with-external-services/about-access-tokens.mdx
Owners: @leobalter, @monishcm, @wraithgar

Spelling checks + bulletpoints addition & removal
  content/packages-and-modules/contributing-packages-to-the-registry/package-name-guidelines.mdx
Owners: @leobalter, @monishcm, @wraithgar

Docs: Package name guidlines (Uppercase exclusion) (#1586)
  content/packages-and-modules/contributing-packages-to-the-registry/package-name-guidelines.mdx
Owners: @leobalter, @monishcm, @wraithgar

Restore an old link from policies using redirect
  cli/lib/redirects.js
Owners: @npm/cli-team

Redirect policies/trademark to logos and usage page
  content/policies/logos-and-usage.mdx
Owners: @leobalter

fixup! add a trailing slash
  content/policies/logos-and-usage.mdx
Owners: @leobalter

Redirect policies/trademark to logos and usage page (#1588)
  content/policies/logos-and-usage.mdx
Owners: @leobalter

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

testing redirect-from run-script
  content/cli/v11/commands/npm-run.mdx
Owners: @npm/cli-team

update outaded docker build secrets url
  content/integrations/integrating-npm-with-external-services/docker-and-private-modules.mdx
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
  content/cli/v11/commands/npm-ls.mdx
  content/cli/v11/commands/npm.mdx
  content/cli/v11/using-npm/changelog.mdx
  content/cli/v11/using-npm/registry.mdx
  content/cli/v11/using-npm/scripts.mdx
  content/nav.yml
Owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

Update outdated docker build secrets URL (#1592)
  content/integrations/integrating-npm-with-external-services/docker-and-private-modules.mdx
Owners: @leobalter, @monishcm, @wraithgar

Create npm-publish-github-packages.yml
  .github/workflows/npm-publish-github-packages.yml
Owners: @npm/cli-team

Update publish.yml
  .github/workflows/publish.yml
Owners: @npm/cli-team

Update index.mdx
  content/organizations/index.mdx
Owners: @leobalter, @monishcm, @wraithgar

Create main.yml
  .github/workflows/main.yml
Owners: @npm/cli-team

Create npm-publish-github-packages.yml
  Wikipedia/npm-publish-github-packages.yml
Owners: @npm/cli-team

.github/CODEOWNERS:

* @npm/cli-team

# Content
/.github/CODEOWNERS   @leobalter @monishcm @wraithgar
/content/             @leobalter @monishcm @wraithgar
/src/                 @leobalter @monishcm @wraithgar
/static/              @leobalter @monishcm @wraithgar
/CONTENT-MODEL.md     @leobalter @monishcm @wraithgar

# Policies
/content/policies/    @leobalter
/CODE_OF_CONDUCT.md   @leobalter

# Licensing
/.reuse/              @leobalter @wraithgar
/LICENSES/            @leobalter
/LICENSE              @leobalter
/LICENSE-CODE         @leobalter

# CLI
/content/cli/         @npm/cli-team
