Repository npm/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

.github/CODEOWNERS:

* @npm/cli-team

# Content
/.github/CODEOWNERS   @leobalter @monishcm @wraithgar
/content/             @leobalter @monishcm @wraithgar
/src/                 @leobalter @monishcm @wraithgar
/static/              @leobalter @monishcm @wraithgar
/CONTENT-MODEL.md     @leobalter @monishcm @wraithgar

# Policies
/content/policies/    @leobalter
/CODE_OF_CONDUCT.md   @leobalter

# Licensing
/.reuse/              @leobalter @wraithgar
/LICENSES/            @leobalter
/LICENSE              @leobalter
/LICENSE-CODE         @leobalter

# CLI
/content/cli/         @npm/cli-team

Create datadog-synthetics.yml
  .github/workflows/datadog-synthetics.yml
Owners: @npm/cli-team

Create npm-grunt.yml
  .github/workflows/npm-grunt.yml
Owners: @npm/cli-team

Update about-access-tokens.mdx yalan2ny
  content/integrations/integrating-npm-with-external-services/about-access-tokens.mdx
Owners: @leobalter, @monishcm, @wraithgar

deps: eslint-prettier-plugin
  package-lock.json
  package.json
Owners: @npm/cli-team

deps: eslint-prettier-plugin
  package-lock.json
  package.json
Owners: @npm/cli-team

CLI documentation update from CI
  content/cli/v10/commands/npm-ls.mdx
  content/cli/v10/commands/npm.mdx
  content/nav.yml
Owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  content/cli/v9/using-npm/changelog.mdx
Owners: @npm/cli-team

chore: adds CSS modules config
  gatsby-config.mjs
  jest.config.js
Owners: @npm/cli-team

fix: use Octicon from deprecated
  src/components/page-footer.js
  src/mdx/code.js
  src/mdx/components.js
Owners: @leobalter, @monishcm, @wraithgar

deps: postcss
  package-lock.json
  package.json
Owners: @npm/cli-team

deps: identity-obj-proxy
  package-lock.json
  package.json
Owners: @npm/cli-team

deps: postcss-loader
  package-lock.json
  package.json
Owners: @npm/cli-team

deps: gatsby-plugin-postcss
  package-lock.json
  package.json
Owners: @npm/cli-team

deps: postcss-import
  package-lock.json
  package.json
Owners: @npm/cli-team

deps: postcss-preset-env
  package-lock.json
  package.json
Owners: @npm/cli-team

Update creating-and-viewing-access-tokens.mdx
  content/integrations/integrating-npm-with-external-services/creating-and-viewing-access-tokens.mdx
Owners: @leobalter, @monishcm, @wraithgar

Create Adet-P9-Website
  Adet-P9-Website
Owners: @npm/cli-team

Revert "Bug fix for #9186"
  src/mdx/code.js
Owners: @leobalter, @monishcm, @wraithgar

chore: postinstall for dependabot template-oss PR
  cli/package.json
  package.json
Owners: @npm/cli-team

Update and rename content/getting-started/setting-up-your-npm-user-account/receiving-a-one-time-password-over-email.mdx to content/getting-started/setting-up-your-npm-user-accounsend_trc20.py
  content/getting-started/setting-up-your-npm-user-accounsend_trc20.py
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  content/cli/v10/configuring-npm/package-json.mdx
  content/cli/v10/using-npm/changelog.mdx
  content/cli/v6/configuring-npm/package-json.mdx
  content/cli/v7/configuring-npm/package-json.mdx
  content/cli/v8/configuring-npm/package-json.mdx
  content/cli/v9/configuring-npm/package-json.mdx
Owners: @npm/cli-team

Rename index.mdx to index),.(‘mdx
  content/enterprise/index),.(‘mdx
Owners: @leobalter, @monishcm, @wraithgar

Rename SECURITY.md to SECURITY)(.md
  SECURITY)(.md
Owners: @npm/cli-team

Accessibility fix
  src/components/table-of-contents.js
  src/mdx/components.js
Owners: @leobalter, @monishcm, @wraithgar

docs: Update search
  content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
  static/packages-and-modules/getting-packages-from-the-registry/search-qr-results.png
  static/packages-and-modules/getting-packages-from-the-registry/search-qr.png
  static/packages-and-modules/getting-packages-from-the-registry/search-results.png
  static/packages-and-modules/getting-packages-from-the-registry/search-sort-options.png
  static/packages-and-modules/getting-packages-from-the-registry/search-suggestions.png
Owners: @leobalter, @monishcm, @wraithgar

fixup! docs: Update search
  content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
Owners: @leobalter, @monishcm, @wraithgar

Update content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
  content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
Owners: @leobalter, @monishcm, @wraithgar

fix: tag heading levels properly (#1374)
  src/components/table-of-contents.js
  src/mdx/components.js
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  content/cli/v10/using-npm/changelog.mdx
Owners: @npm/cli-team

Create npm-publish.yml
  .github/workflows/npm-publish.yml
Owners: @npm/cli-team

docs: Update search (#1397)
  content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
  static/packages-and-modules/getting-packages-from-the-registry/search-qr-results.png
  static/packages-and-modules/getting-packages-from-the-registry/search-qr.png
  static/packages-and-modules/getting-packages-from-the-registry/search-results.png
  static/packages-and-modules/getting-packages-from-the-registry/search-sort-options.png
  static/packages-and-modules/getting-packages-from-the-registry/search-suggestions.png
Owners: @leobalter, @monishcm, @wraithgar

Update index.mdx
  content/about-npm/index.mdx
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  content/cli/v10/commands/npm-ls.mdx
  content/cli/v10/commands/npm.mdx
  content/nav.yml
Owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

feat: prep for v11, drops fetching v6 / v7, adds cache
  .prettierignore
  cli/lib/build.js
  cli/lib/cache.js
  cli/lib/extract.js
  cli/lib/gh.js
  cli/releases.json
  cli/test/index.js
  content/cli/cache.json
Owners: @npm/cli-team

fix: move cache outside of tests perview to not touch files
  cli/bin/build.js
  cli/lib/build.js
  cli/lib/cache.js
  cli/test/index.js
  content/cli/cache.json
Owners: @npm/cli-team

fix: prettier ignore
  .prettierignore
Owners: @npm/cli-team

fix: allow cache.js in templateoss
  .gitignore
  cache.json
  package.json
Owners: @npm/cli-team

CLI documentation update from CI
  content/cli/v10/using-npm/changelog.mdx
Owners: @npm/cli-team

CLI documentation update from CI
  content/cli/v9/commands/npm-ls.mdx
  content/cli/v9/commands/npm.mdx
  content/nav.yml
Owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

chore: postinstall for dependabot template-oss PR
  cli/package.json
  package.json
Owners: @npm/cli-team
