Repository npm/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Convert primer colors to use new color names
  gatsby-browser.js
  gatsby-config.js
  gatsby-ssr.js
  src/components/clipboard-copy.js
  src/components/contributors.js
  src/components/dark-text-input.js
  src/components/drawer.js
  src/components/header.js
  src/components/hero.js
  src/components/mobile-search.js
  src/components/nav-drawer.js
  src/components/page-footer.js
  src/components/search-results.js
  src/components/search.js
  src/components/sidebar.js
  src/components/table-of-contents.js
  src/components/text-input.js
  src/mdx/code.js
  src/mdx/index.js
  src/page.js
  src/root.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Refresh package-lock
  package-lock.json
Owners: @npm/cli-team

Add top nav links to nav drawer
  content/nav.yml
  src/components/header.js
  src/components/mobile-search.js
  src/components/nav-drawer.js
  src/components/nav-items.js
  src/components/sidebar.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Style updates for new primer components
  content/organizations/index.mdx
  src/components/breadcrumbs.js
  src/components/header.js
  src/components/search-results.js
  src/components/sidebar.js
  src/components/table-of-contents.js
  src/constants.js
  src/layout.js
  src/layout/default.js
  src/mdx/code.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Use mdx 404 page
  content/404.mdx
  src/mdx/index.js
  src/pages/404.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Mock prettier to speed up CLI tests
  cli/test/index.js
Owners: @npm/cli-team

Turn on legacy peer deps since it is required for gatsby
  .npmrc
  package-lock.json
Owners: @npm/cli-team

fix: run system props codemod
  theme/src/components/contributors.js
  theme/src/components/header.js
  theme/src/components/nav-drawer.js
  theme/src/components/nav-items.js
  theme/src/components/table-of-contents.js
  theme/src/hooks/use-search.js
  theme/src/mdx/heading.js
  theme/src/mdx/prompt.js
  theme/src/mdx/screenshot.js
  theme/src/page-element.js
Owners: @npm/cli-team

Hide variants from page breadcrumbs
  src/components/breadcrumbs.js
  src/components/search-results.js
  src/util/get-nav.js
Owners: @MylesBorins, @monishcm, @lukekarrys

More styles refactoring
  package-lock.json
  package.json
  src/components/breadcrumbs.js
  src/components/drawer.js
  src/components/hero.js
  src/components/mobile-search.js
  src/components/nav-drawer.js
  src/components/search.js
  src/components/sidebar.js
  src/components/variant-select.js
  src/layout.js
  src/mdx/code.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/page.js
  src/root.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Make hover bg red for buttons in dark themes
  src/components/nav-drawer.js
  src/root.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix variants prop name
  src/components/variant-select.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix cli bin/build test
  cli/bin/build.js
Owners: @npm/cli-team

Updates for shared code component
  src/mdx/code.js
  src/mdx/index.js
  src/root.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Add contributors to pages
  gatsby-node.js
  package-lock.json
  package.json
  src/components/__tests__/contributors.test.js
  src/components/__tests__/page-footer.test.js
  src/components/contributors.js
  src/components/page-footer.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

fix: replace borderbox with box
  .eslintrc.js
  theme/src/components/border-box.js
  theme/src/components/nav-drawer.js
  theme/src/components/nav-items.js
  theme/src/components/page-footer.js
  theme/src/components/search.js
  theme/src/components/sidebar.js
  theme/src/hooks/use-search.js
  theme/src/layout/default.js
Owners: @npm/cli-team

Set parcel workers to 0 to fix cache segfaults
  gatsby-config.js
  package.json
  scripts/gatsby.sh
Owners: @npm/cli-team

Fix cli workspace linting
  cli/package.json
  package-lock.json
  scripts/template-oss/index.js
Owners: @npm/cli-team

Fix search focus on iOS
  src/components/search.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Update @primer/react
  package-lock.json
  package.json
  src/components/clipboard-copy.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Fix lanaguage-less code blocks
  package-lock.json
  package.json
  src/components/table-of-contents.js
  src/components/variant-select.js
  src/mdx/code.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Custom gatsby bin to clean and retry on certain errors
  package.json
  scripts/gatsby.sh
Owners: @npm/cli-team

Move nav files to content dir
  .prettierignore
  CONTRIBUTING.md
  content/header-nav.yml
  content/nav.yml
  src/components/header.js
  src/components/nav-drawer.js
  src/components/variant-select.js
  src/shared.js
  src/util/get-nav.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Fix overflow auto for tables on mobile
  src/mdx/index.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Try building with ubuntu again and without memory safeguards
  .github/workflows/publish.yml
  content/organizations/index.mdx
  package.json
  scripts/template-oss/publish.yml
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Fix GFM features in mdx
  .eslintrc.js
  .gitignore
  .reuse/dep5
  cli/lib/extract.js
  content/cli/v6/using-npm/config.mdx
  content/getting-started/managing-your-npm-user-account/changing-your-npm-username.mdx
  content/getting-started/troubleshooting/generating-and-locating-npm-debug.log-files.mdx
  content/organizations/managing-organization-packages/configuring-your-npm-client-with-your-organization-settings.mdx
  content/packages-and-modules/contributing-packages-to-the-registry/about-semantic-versioning.mdx
  content/packages-and-modules/contributing-packages-to-the-registry/creating-node-js-modules.mdx
  content/packages-and-modules/getting-packages-from-the-registry/downloading-and-installing-packages-locally.mdx
  content/packages-and-modules/getting-packages-from-the-registry/uninstalling-packages-and-dependencies.mdx
  content/packages-and-modules/getting-packages-from-the-registry/updating-packages-downloaded-from-the-registry.mdx
  content/packages-and-modules/introduction-to-packages-and-modules/about-private-packages.mdx
  gatsby-config.mjs
  gatsby-node.mjs
  package-lock.json
  package.json
  scripts/template-oss/index.js
  scripts/template-oss/pkg.json
  src/mdx/index.js
  src/root.js
  webpack.config.js
Owners: @npm/cli-team, @MylesBorins, @lukekarrys, @monishcm

Return focus to variant after cross variant navigation
  cli/lib/build.js
  content/nav.yml
  src/components/skip-nav.js
  src/components/table-of-contents.js
  src/components/variant-select.js
  src/constants.js
  src/layout.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/page.js
  src/theme.js
  src/util/get-nav.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

chore: lint from root for frontend deps
  .gitignore
  .prettierIgnore
  cli/package.json
  package.json
  scripts/template-oss/index.js
  scripts/template-oss/pkg.json
  theme/.eslintrc.js
  theme/.gitignore
  theme/.prettierIgnore
  theme/package.json
  theme/scripts/template-oss/_step-deps.yml
  theme/scripts/template-oss/index.js
  theme/src/components/hero.js
  theme/src/root-element.js
Owners: @npm/cli-team

fix: image image location
  content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
Owners: @MylesBorins, @monishcm, @lukekarrys

fix: path root consistency
  content/packages-and-modules/updating-and-managing-your-published-packages/deprecating-and-undeprecating-packages-or-package-versions.mdx
Owners: @MylesBorins, @monishcm, @lukekarrys

fix: image image location
  content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
Owners: @MylesBorins, @monishcm, @lukekarrys

fix: path root consistency
  content/packages-and-modules/updating-and-managing-your-published-packages/deprecating-and-undeprecating-packages-or-package-versions.mdx
Owners: @MylesBorins, @monishcm, @lukekarrys

Use markdown syntax in mdx where possible
  .eslintrc.js
  cli/lib/extract.js
  content/cli/v10/commands/npm-audit.mdx
  content/cli/v10/commands/npm-team.mdx
  content/cli/v10/commands/npm-unpublish.mdx
  content/cli/v6/commands/npm-team.mdx
  content/cli/v6/commands/npm-unpublish.mdx
  content/cli/v7/commands/npm-team.mdx
  content/cli/v7/commands/npm-unpublish.mdx
  content/cli/v8/commands/npm-audit.mdx
  content/cli/v8/commands/npm-team.mdx
  content/cli/v8/commands/npm-unpublish.mdx
  content/cli/v9/commands/npm-audit.mdx
  content/cli/v9/commands/npm-team.mdx
  content/cli/v9/commands/npm-unpublish.mdx
  content/getting-started/setting-up-your-npm-user-account/creating-a-new-npm-user-account.mdx
  content/packages-and-modules/contributing-packages-to-the-registry/about-package-readme-files.mdx
  content/packages-and-modules/contributing-packages-to-the-registry/creating-and-publishing-private-packages.mdx
  content/packages-and-modules/contributing-packages-to-the-registry/creating-and-publishing-scoped-public-packages.mdx
  content/packages-and-modules/contributing-packages-to-the-registry/creating-and-publishing-unscoped-public-packages.mdx
  content/packages-and-modules/introduction-to-packages-and-modules/package-scope-access-level-and-visibility.mdx
  content/packages-and-modules/securing-your-code/about-registry-signatures.mdx
  content/packages-and-modules/securing-your-code/auditing-package-dependencies-for-security-vulnerabilities.mdx
  content/packages-and-modules/updating-and-managing-your-published-packages/changing-package-visibility.mdx
  content/packages-and-modules/updating-and-managing-your-published-packages/deprecating-and-undeprecating-packages-or-package-versions.mdx
  src/shared.js
  static/shared/enterprise-custom-blocking-message
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Default table of contents to open on mobile
  src/components/table-of-contents.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Lint for builtin html tags
  .eslintrc.js
  content/getting-started/setting-up-your-npm-user-account/configuring-two-factor-authentication.mdx
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Use markdown syntax in mdx where possible
  .eslintrc.js
  cli/lib/extract.js
  content/cli/v10/commands/npm-audit.mdx
  content/cli/v10/commands/npm-team.mdx
  content/cli/v10/commands/npm-unpublish.mdx
  content/cli/v6/commands/npm-team.mdx
  content/cli/v6/commands/npm-unpublish.mdx
  content/cli/v7/commands/npm-team.mdx
  content/cli/v7/commands/npm-unpublish.mdx
  content/cli/v8/commands/npm-audit.mdx
  content/cli/v8/commands/npm-team.mdx
  content/cli/v8/commands/npm-unpublish.mdx
  content/cli/v9/commands/npm-audit.mdx
  content/cli/v9/commands/npm-team.mdx
  content/cli/v9/commands/npm-unpublish.mdx
  content/getting-started/setting-up-your-npm-user-account/creating-a-new-npm-user-account.mdx
  content/packages-and-modules/contributing-packages-to-the-registry/about-package-readme-files.mdx
  content/packages-and-modules/contributing-packages-to-the-registry/creating-and-publishing-private-packages.mdx
  content/packages-and-modules/contributing-packages-to-the-registry/creating-and-publishing-scoped-public-packages.mdx
  content/packages-and-modules/contributing-packages-to-the-registry/creating-and-publishing-unscoped-public-packages.mdx
  content/packages-and-modules/introduction-to-packages-and-modules/package-scope-access-level-and-visibility.mdx
  content/packages-and-modules/securing-your-code/about-registry-signatures.mdx
  content/packages-and-modules/securing-your-code/auditing-package-dependencies-for-security-vulnerabilities.mdx
  content/packages-and-modules/updating-and-managing-your-published-packages/changing-package-visibility.mdx
  content/packages-and-modules/updating-and-managing-your-published-packages/deprecating-and-undeprecating-packages-or-package-versions.mdx
  src/shared.js
  static/shared/enterprise-custom-blocking-message
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Lint for builtin html tags
  .eslintrc.js
  content/getting-started/setting-up-your-npm-user-account/configuring-two-factor-authentication.mdx
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Default table of contents to open on mobile
  src/components/table-of-contents.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Style updates and misc fixes
  .eslintrc.js
  gatsby-browser.js
  src/components/container.js
  src/components/drawer.js
  src/components/header.js
  src/components/link.js
  src/components/nav-drawer.js
  src/components/nav-items.js
  src/components/page-footer.js
  src/components/search-results.js
  src/components/search.js
  src/components/site-title.js
  src/components/table-of-contents.js
  src/components/variant-select.js
  src/hooks/use-location-change.js
  src/layout.js
  src/mdx/code.js
  src/theme.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Style updates and misc fixes
  .eslintrc.js
  gatsby-browser.js
  src/components/container.js
  src/components/drawer.js
  src/components/header.js
  src/components/link.js
  src/components/nav-drawer.js
  src/components/nav-items.js
  src/components/page-footer.js
  src/components/search-results.js
  src/components/search.js
  src/components/site-title.js
  src/components/table-of-contents.js
  src/components/variant-select.js
  src/hooks/use-location-change.js
  src/layout.js
  src/mdx/code.js
  src/theme.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

.github/CODEOWNERS:

* @npm/cli-team

# Content
/.github/CODEOWNERS   @MylesBorins @monishcm @lukekarrys
/content/             @MylesBorins @monishcm @lukekarrys
/src/                 @MylesBorins @monishcm @lukekarrys
/static/              @MylesBorins @monishcm @lukekarrys
/CONTENT-MODEL.md     @MylesBorins @monishcm @lukekarrys

# Policies
/content/policies/    @MylesBorins
/CODE_OF_CONDUCT.md   @MylesBorins

# Licensing
/.reuse/              @MylesBorins @lukekarrys
/LICENSES/            @MylesBorins
/LICENSE              @MylesBorins
/LICENSE-CODE         @MylesBorins

# CLI
/content/cli/         @npm/cli-team
