Repository npm/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

.github/CODEOWNERS:

* @npm/cli-team

# Content
/.github/CODEOWNERS   @leobalter @monishcm @wraithgar
/content/             @leobalter @monishcm @wraithgar
/src/                 @leobalter @monishcm @wraithgar
/static/              @leobalter @monishcm @wraithgar
/CONTENT-MODEL.md     @leobalter @monishcm @wraithgar

# Policies
/content/policies/    @leobalter
/CODE_OF_CONDUCT.md   @leobalter

# Licensing
/.reuse/              @leobalter @wraithgar
/LICENSES/            @leobalter
/LICENSE              @leobalter
/LICENSE-CODE         @leobalter

# CLI
/content/cli/         @npm/cli-team

Update content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
  content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

chore: postinstall for dependabot template-oss PR
  cli/package.json
  package.json
Owners: @npm/cli-team

Update about-npm-versions.mdx
  content/getting-started/configuring-your-local-environment/about-npm-versions.mdx
Owners: @leobalter, @monishcm, @wraithgar

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Owners: @npm/cli-team

Update content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
  content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
Owners: @leobalter, @monishcm, @wraithgar

Add note about package provenance information.
  content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
Owners: @leobalter, @monishcm, @wraithgar

Fix typo in package provenance information.
  content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
Owners: @leobalter, @monishcm, @wraithgar

Update content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
  content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
Owners: @leobalter, @monishcm, @wraithgar

Update content/packages-and-modules/getting-packages-from-the-registry/viewing-package-provenance.mdx
  content/packages-and-modules/getting-packages-from-the-registry/viewing-package-provenance.mdx
Owners: @leobalter, @monishcm, @wraithgar

Fix style issue
  content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
Owners: @leobalter, @monishcm, @wraithgar

Update searching-for-and-choosing-packages-to-download.mdx (#1453)
  content/packages-and-modules/getting-packages-from-the-registry/searching-for-and-choosing-packages-to-download.mdx
  content/packages-and-modules/getting-packages-from-the-registry/viewing-package-provenance.mdx
Owners: @leobalter, @monishcm, @wraithgar

feat: put colorMode preference in local storage
  src/hooks/use-color-preference.js
  src/theme.js
Owners: @leobalter, @monishcm, @wraithgar

feat: base code block theme on primer colorMode
  src/hooks/use-prism-theme.js
  src/mdx/code.js
Owners: @leobalter, @monishcm, @wraithgar

fix: dont check color prefrence is ssr
  src/theme.js
Owners: @leobalter, @monishcm, @wraithgar

feat: light/dark mode control
  src/components/color-preference-picker.js
  src/components/header.js
Owners: @leobalter, @monishcm, @wraithgar

fix: add margin between color mode and search on mobile
  src/components/header.js
Owners: @leobalter, @monishcm, @wraithgar

fix: upgrade @octokit/plugin-throttling from 9.3.2 to 9.4.0
  package-lock.json
  package.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

Create devcontainer.json
  .devcontainer/devcontainer.json
Owners: @npm/cli-team

Only break within words in `code`s
  src/mdx/components.js
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

Update viewing-package-provenance.mdx
  content/packages-and-modules/getting-packages-from-the-registry/viewing-package-provenance.mdx
Owners: @leobalter, @monishcm, @wraithgar

CLI documentation update from CI
  cli-cache.json
  content/cli/v11/commands/npm-cache.mdx
  content/cli/v11/commands/npm-init.mdx
  content/cli/v11/commands/npm-ls.mdx
  content/cli/v11/commands/npm.mdx
  content/cli/v11/using-npm/changelog.mdx
  content/cli/v11/using-npm/config.mdx
  content/nav.yml
Owners: @npm/cli-team, @leobalter, @monishcm, @wraithgar

chore: postinstall for dependabot template-oss PR
  cli/package.json
  package.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

Updatedex.mdx
  content/about-npm/index.mdx
Owners: @leobalter, @monishcm, @wraithgar

Create jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Owners: @npm/cli-team

Update LICENSE-CODE
  LICENSE-CODE
Owners: @leobalter

Update README.md
  README.md
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

chore: postinstall for dependabot template-oss PR
  cli/package.json
  package.json
Owners: @npm/cli-team

chore: postinstall for dependabot template-oss PR
  cli/package.json
  package.json
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

docs(cli): replace proceeding with preceding in loglevels explanation
  content/cli/v10/using-npm/logging.mdx
  content/cli/v11/using-npm/logging.mdx
  content/cli/v8/using-npm/logging.mdx
  content/cli/v9/using-npm/logging.mdx
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

chore: postinstall for dependabot template-oss PR
  .github/workflows/audit.yml
  .github/workflows/ci-cli.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Owners: @npm/cli-team

CLI documentation update from CI
  cli-cache.json
Owners: @npm/cli-team

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Owners: @npm/cli-team
