Repository npm/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Nav list dividers
  src/components/nav-items.js
  src/components/sidebar.js
  src/mdx/nav-hierarchy.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix lanaguage-less code blocks
  package-lock.json
  package.json
  src/components/table-of-contents.js
  src/components/variant-select.js
  src/mdx/code.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

deps: framer-motion@10
  package-lock.json
  package.json
  src/page.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Underline mdx links
  src/mdx/index.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Use mdx 404 page
  content/404.mdx
  src/mdx/index.js
  src/pages/404.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix autolinked CLI headings that already contain a link
  src/mdx/index.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Update to gatsby@5 and mdx@2
  cli/lib/transform.js
  content/404.mdx
  content/getting-started/troubleshooting/common-errors.mdx
  content/getting-started/troubleshooting/try-the-latest-stable-version-of-node.mdx
  content/index.mdx
  content/policies/conduct.mdx
  content/policies/disputes.mdx
  content/policies/open-source-terms.mdx
  content/policies/orgs-plan.mdx
  content/policies/private-terms.mdx
  content/policies/security.mdx
  content/policies/solo-plan.mdx
  content/policies/terms.mdx
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/breadcrumbs.js
  src/components/nav-items.js
  src/components/table-of-contents.js
  src/components/variant-select.js
  src/hooks/use-page.js
  src/hooks/use-search.js
  src/layout.js
  src/layout/default.js
  src/layout/hero.js
  src/mdx/code.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/page.js
  src/root.js
  src/util/search.worker.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Fix some gatsby SSR mismatch issues
  gatsby-config.js
  src/hooks/use-search.js
  src/page.js
  src/root.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Updates for shared code component
  src/mdx/code.js
  src/mdx/index.js
  src/root.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Use CSS only method to scroll pre
  src/hooks/use-scroll-size.js
  src/mdx/code.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix nav link sizing
  src/components/nav-items.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Mock prettier to speed up CLI tests
  cli/test/index.js
Owners: @npm/cli-team

Set parcel workers to 0 to fix cache segfaults
  gatsby-config.js
  package.json
  scripts/gatsby.sh
Owners: @npm/cli-team

Update @primer/react
  package-lock.json
  package.json
  src/components/clipboard-copy.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Use link component instead of catch links plugin
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/contributors.js
  src/components/header.js
  src/components/link.js
  src/components/nav-drawer.js
  src/components/nav-items.js
  src/components/page-footer.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/page.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Custom gatsby bin to clean and retry on certain errors
  package.json
  scripts/gatsby.sh
Owners: @npm/cli-team

Use built in gatsby head in favor of react-helmet
  content/index.mdx
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/nav-items.js
  src/head.js
  src/hooks/use-site-metadata.js
  src/layout.js
  src/page.js
Owners: @MylesBorins, @monishcm, @lukekarrys, @npm/cli-team

Only panic during build in CI
  gatsby-node.js
Owners: @npm/cli-team

Lint and format all code with same configs
  .eslintrc.js
  .prettierignore
  cli/.eslintrc.js
  cli/bin/build.js
  cli/lib/build.js
  cli/lib/extract.js
  cli/lib/gh.js
  cli/lib/log.js
  cli/lib/redirects.js
  cli/lib/transform.js
  cli/package.json
  cli/scripts/template-oss/index.js
  cli/test/index.js
  cli/test/transform.js
  gatsby-node.js
  package-lock.json
  package.json
  scripts/template-oss/index.js
  src/mdx/code.js
  src/mdx/index.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Try building with ubuntu again and without memory safeguards
  .github/workflows/publish.yml
  content/organizations/index.mdx
  package.json
  scripts/template-oss/publish.yml
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Fix cli workspace linting
  cli/package.json
  package-lock.json
  scripts/template-oss/index.js
Owners: @npm/cli-team

Turn on legacy peer deps since it is required for gatsby
  .npmrc
  package-lock.json
Owners: @npm/cli-team

Add contributors to pages
  gatsby-node.js
  package-lock.json
  package.json
  src/components/__tests__/contributors.test.js
  src/components/__tests__/page-footer.test.js
  src/components/contributors.js
  src/components/page-footer.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Refresh package-lock
  package-lock.json
Owners: @npm/cli-team

Turn off sourcemaps in production
  gatsby-node.js
Owners: @npm/cli-team

Make hover bg red for buttons in dark themes
  src/components/nav-drawer.js
  src/root.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Return focus to variant after cross variant navigation
  cli/lib/build.js
  content/nav.yml
  src/components/skip-nav.js
  src/components/table-of-contents.js
  src/components/variant-select.js
  src/constants.js
  src/layout.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/page.js
  src/theme.js
  src/util/get-nav.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Move avatar tooltip to link
  src/components/contributors.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Update fuse to latest version
  package-lock.json
  package.json
  src/components/breadcrumbs.js
  src/components/nav-items.js
  src/components/search-results.js
  src/components/variant-select.js
  src/hooks/use-search.js
  src/mdx/index.js
  src/mdx/nav-hierarchy.js
  src/util/get-nav.js
  src/util/search.worker.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

Refactor theme providers to a single file
  src/components/header.js
  src/components/mobile-search.js
  src/components/nav-drawer.js
  src/components/search.js
  src/constants.js
  src/layout.js
  src/root.js
  src/theme.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Convert invalid html content to jsx
  content/packages-and-modules/contributing-packages-to-the-registry/about-semantic-versioning.mdx
  content/packages-and-modules/introduction-to-packages-and-modules/about-private-packages.mdx
  content/packages-and-modules/introduction-to-packages-and-modules/about-scopes.mdx
  content/packages-and-modules/introduction-to-packages-and-modules/package-scope-access-level-and-visibility.mdx
Owners: @MylesBorins, @monishcm, @lukekarrys

Make search result items links
  src/components/link.js
  src/components/search-results.js
  src/components/table-of-contents.js
  src/components/variant-select.js
  src/constants.js
  src/hooks/use-search.js
  src/mdx/index.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Less janky mobile search animations
  src/components/mobile-search.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Consolidate some related components to single files
  src/components/__tests__/contributors.test.js
  src/components/contributors.js
  src/components/header.js
  src/components/mobile-search.js
  src/components/page-footer.js
  src/components/search-results.js
  src/components/search.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Use theme values for spacing
  src/components/header.js
  src/mdx/index.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix search focus on iOS
  src/components/search.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Make theme wrapper components use as property for less nesting
  src/components/header.js
  src/components/nav-drawer.js
  src/components/search.js
  src/layout.js
  src/theme.js
Owners: @MylesBorins, @monishcm, @lukekarrys

Fix GFM features in mdx
  .eslintrc.js
  .gitignore
  .reuse/dep5
  cli/lib/extract.js
  content/cli/v6/using-npm/config.mdx
  content/getting-started/managing-your-npm-user-account/changing-your-npm-username.mdx
  content/getting-started/troubleshooting/generating-and-locating-npm-debug.log-files.mdx
  content/organizations/managing-organization-packages/configuring-your-npm-client-with-your-organization-settings.mdx
  content/packages-and-modules/contributing-packages-to-the-registry/about-semantic-versioning.mdx
  content/packages-and-modules/contributing-packages-to-the-registry/creating-node-js-modules.mdx
  content/packages-and-modules/getting-packages-from-the-registry/downloading-and-installing-packages-locally.mdx
  content/packages-and-modules/getting-packages-from-the-registry/uninstalling-packages-and-dependencies.mdx
  content/packages-and-modules/getting-packages-from-the-registry/updating-packages-downloaded-from-the-registry.mdx
  content/packages-and-modules/introduction-to-packages-and-modules/about-private-packages.mdx
  gatsby-config.mjs
  gatsby-node.mjs
  package-lock.json
  package.json
  scripts/template-oss/index.js
  scripts/template-oss/pkg.json
  src/mdx/index.js
  src/root.js
  webpack.config.js
Owners: @npm/cli-team, @MylesBorins, @lukekarrys, @monishcm

Fix overflow auto for tables on mobile
  src/mdx/index.js
Owners: @MylesBorins, @monishcm, @lukekarrys

chore: move all eslint rules to root
  .eslintrc.js
  .gitignore
  .prettierrc.js
  gatsby-node.js
  package-lock.json
  package.json
  scripts/template-oss/index.js
  src/shared.js
  test/index.js
  theme/.gitignore
  theme/gatsby-config.js
  theme/scripts/template-oss/index.js
  theme/src/components/hero.js
  theme/src/util/aria-live.js
  theme/src/util/nav-hierarchy.js
Owners: @npm/cli-team, @MylesBorins, @monishcm, @lukekarrys

.github/CODEOWNERS:

* @npm/cli-team

# Content
/.github/CODEOWNERS   @MylesBorins @monishcm @lukekarrys
/content/             @MylesBorins @monishcm @lukekarrys
/src/                 @MylesBorins @monishcm @lukekarrys
/static/              @MylesBorins @monishcm @lukekarrys
/CONTENT-MODEL.md     @MylesBorins @monishcm @lukekarrys

# Policies
/content/policies/    @MylesBorins
/CODE_OF_CONDUCT.md   @MylesBorins

# Licensing
/.reuse/              @MylesBorins @lukekarrys
/LICENSES/            @MylesBorins
/LICENSE              @MylesBorins
/LICENSE-CODE         @MylesBorins

# CLI
/content/cli/         @npm/cli-team
