Repository npm/documentation, pull requests merged in 2022-11, with the labels that each got.

#286 Added role for sidebar-nav
  theme/src/components/nav-items.js
  theme/src/components/sidebar.js
Labels: accessibility

#303 Upgraded node and react version / Implemented ActionMenu
  package-lock.json
  package.json
  theme/package.json
  theme/src/components/variant-select.js
Labels: theme

#247 Remove @ from unscoped package name
  content/packages-and-modules/getting-packages-from-the-registry/using-npm-packages-in-your-projects.mdx
Labels: content
